@page
@model SSP.Pages.SSPModel
@{

}

<!DOCTYPE html>

<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Portfolio ASP.NET Nr. 2</title>

</head>

<body>
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }

        .Platzhalter {
            margin: 6%;
        }

        .buttons {
            margin-bottom: 1%;
            text-align: center;
        }

        .bot_ergebnis {
            text-align: center;
        }

        table {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <div class="container">

        <h1>Lass uns Schere, Stein, Papier spielen!</h1>
        <h3>Mit wievielen Gesten sollen wir spielen?</h3>
        <form method="post" class="mt-3">
            <div class=buttons>
                <input type="radio" name="gesten" value="3" @(Model.AnzahlGesten == 3 ? "checked" : "")>
                <label>3</label>

                <input type="radio" name="gesten" value="4" @(Model.AnzahlGesten == 4 ? "checked" : "")>
                <label>4</label>

                <input type="radio" name="gesten" value="5" @(Model.AnzahlGesten == 5 ? "checked" : "")>
                <label>5</label>
            </div>


            <table>
                <tr>
                    <td>
                        <button class="button_gesten" name="geste" value="0"><img src="pictures/scissor.png"
                                width="160px" height="160px"></img></button>
                    </td>
                    <td>
                        <button class="button_gesten" name="geste" value="1"><img src="pictures/rock.png" width="160px"
                                height="160px"></img></button>
                    </td>
                    <td>
                        <button class="button_gesten" name="geste" value="2"><img src="pictures/paper.png" width="160px"
                                height="160px"></img></button>
                    </td>

                    <td>
                        <button class="button_gesten" name="geste" value="3"><img src="pictures/match.png" width="160px"
                                height="160px"></img></button>
                    </td>
                    <td>
                        <button class="button_gesten" name="geste" value="4"><img src="pictures/well.png" width="160px"
                                height="160px"></img></button>
                    </td>

                </tr>
            </table>

        </form>

        <div class="Platzhalter"></div>
        <h2>Der Bot sagt:</h2>
        <div class="bot_ergebnis">
            @if (Request.Method == "POST")
            {
                int BotGeste = (int)@ViewData["bot-geste"];
                if (BotGeste == 0)
                {
                    <img src="pictures/scissor.png" width="160px" height="160px"></img>
                }
                else if (BotGeste == 1)
                {
                    <img src="pictures/rock.png" width="160px" height="160px"></img>
                }
                else if (BotGeste == 2)
                {
                    <img src="pictures/paper.png" width="160px" height="160px"></img>
                }
                else if (BotGeste == 3)
                {
                    <img src="pictures/match.png" width="160px" height="160px"></img>
                }
                else if (BotGeste == 4)
                {
                    <img src="pictures/well.png" width="160px" height="160px"></img>
                }
                <h2>@ViewData["text"]</h2>
            }
        </div>
    </div>
    </div>
</body>

</html>